#video-chapter-description{
  background: white;
}

#video-footer{
  margin: auto;
  margin-top: 20px;
}

#columns-series{
  margin: auto;
  margin-top: 20px;
}

.card{
  /**background: rgba(0, 171, 255, 0.20);**/
  background: rgb(237, 236, 77);
  border-color: rgb(255, 3, 48);
}

.card{
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.card:hover{
  top: -15px;
}

#card-setting{
  background-color: white;
}

#card-setting{
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

#card-setting:hover{
  top: -15px;
}


.box{
  margin: auto;
  margin-top: 20px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.box:hover{
  top: -15px;
}

.navbar{
  margin-bottom: 20px;
}

.box{
  border-color: rgba(0, 171, 255, 0.20);
}



/**
 * VIDEO JS STYLE
 **/
.video-js{
  margin: auto;
}
